<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Audio/Video File</h1>
        <form id="upload-form">
            <input type="text" id="url-input" placeholder="https://www.youtube.com/watch?v=Z1RJmh_OqeA" required>
            <button type="submit">Submit</button>
        </form>
        <div></div>
        
        <div id="result">
            <h2>Output</h2>
            <p id="summary"></p>
        </div>
        
        <!-- Add a textarea for displaying response -->
        <div id="Output">
            <h3>Response</h3>
            <textarea id="response-textarea" readonly style="resize: none; overflow: auto; height: 100px; width: 100%;"></textarea>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>